<div class = "login" ng-controller="LoginController as loginCtrl">
	<!-- SHOW ERROR/SUCCESS MESSAGES --> 
	<div class="redText" ng-show='message'>{{ message }}</div>

	<form ng-submit="loginCtrl.processForm()">
		<h1>Welcome to Pickomino!</h1>
		<h3>Implemented using Rails-Angular-PostgreSQL</h3>
		<p><img class="logo_img" src="/assets/Ruby_on_Rails-logo-03bb170d74e34a9d3ab9157113c6ab68d2eb4a61a1a7ec5f77e45bc55d9e168e.png" alt="Ruby on rails logo 03bb170d74e34a9d3ab9157113c6ab68d2eb4a61a1a7ec5f77e45bc55d9e168e" /> + <img class="logo_img" src="/assets/AngularJS-Shield-large-c8f6db784a008d1a812282113b38f507681f21e27bd5d4df6692e280d1d7fa2e.png" alt="Angularjs shield large c8f6db784a008d1a812282113b38f507681f21e27bd5d4df6692e280d1d7fa2e" /> + <img class="logo_img" src="/assets/Postgresql-logo-aaffc2ae37f2ee72b30f9df5fdc17191e6e932424e50ba449bb6d5fc99f4e61b.png" alt="Postgresql logo aaffc2ae37f2ee72b30f9df5fdc17191e6e932424e50ba449bb6d5fc99f4e61b" /></p>
		<br/>
		Please log in below or <a ng-click="loginCtrl.register()" class = 'btn btn-primary inset'>Register</a><br/><br/>
		Username: <input type="text" name="username" ng-model="loginCtrl.formData.username" required><br/><br/> 
		Password: <input type="password" name="password" ng-model="loginCtrl.formData.password" required> <br/><br/>
		<input type="submit" value="Log in" class ='btn btn-primary inset loginBtn' >
		<br/>
		<br/>
		<a ng-click="loginCtrl.guestLogin()" class ='btn btn-primary inset loginBtn' >Guest Login</a>
		<br/>
	</form>
</div>