<div>
	<div class = 'titles-box'>
		<span class = 'titles' ng-class="{ 'redText' : action.gameStatus.bunk }">
			<span ng-hide="action.gameStatus.numPlayers===1 || action.gameStatus.gameOver">
				Player {{action.gameStatus.activePlayer+1}}: 
			</span>{{notice.messageText.info}}
		</span>
	</div>	
	<div class = 'playeroptions outset'>
		<button class = 'buttons inset activeButtonHighlight' ng-click="action.setPlayers(1)" ng-show="action.gameStatus.playerSetup">
			Solo Play
		</button>
		<button class = 'buttons inset activeButtonHighlight' ng-click="action.setPlayers(2)" ng-show="action.gameStatus.playerSetup">
			Two Players
		</button>
		<button class = 'buttons inset' ng-click="action.rollDice()" ng-class="{ 'activeButtonHighlight' : action.gameStatus.roll }" ng-hide="action.gameStatus.playerSetup || action.gameStatus.bunk || action.gameStatus.gameOver">
			Roll
		</button>
		<button class = 'buttons inset bunkButtonHighlight' ng-show="action.gameStatus.bunk" ng-click="action.bunkPenalty()">
			Clear Bunk
		</button>
		<a href="/"><button class = 'buttons inset activeButtonHighlight' ng-show="action.gameStatus.gameOver">
			Reset
		</button></a>
	</div>
</div>