<div ng-controller="ActionController as action" class='container-body'>

	<!-- If not logged in, show login area here -->
	<game-login ng-show="action.gameStatus.gameLogin"></game-login>
	<!-- If not logged in, show registration area here -->
	<game-registration ng-show="action.gameStatus.gameRegistration && !action.gameStatus.gameLogin"></game-registration>
	<!-- If logged in, show game selection here -->
	<game-setup ng-show="action.gameStatus.gameSetup && !action.gameStatus.gameLogin && !action.gameStatus.gameRegistration"></game-setup>
	<!-- If logged in and game selected, show game board here -->
	<game-board ng-hide="action.gameStatus.gameLogin || action.gameStatus.gameSetup"></game-board>

</div>